:root {
    /* https://colorhunt.co/palette/eeedebe0ccbe7472643c3633 */
    /* --color-black: rgb(60, 54, 51);
    --color-accent-1: rgb(224, 204, 190);
    --color-accent-2: rgb(238, 237, 235);
    --color-white: rgb(238, 237, 235); */

    /* https://colorhunt.co/palette/f7f7f7eeeeee393e46929aab */
    --color-black: rgb(57, 62, 70);
    --color-accent-1: rgb(238, 238, 238);
    --color-accent-2: rgb(146, 154, 171);
    --color-white: rgb(247, 247, 247);

    --spacing-1: 4px;
    --spacing-1_5: 6px;
    --spacing-2: 8px;
    --spacing-3: 12px;
    --spacing-4: 16px;
    --spacing-5: 20px;
    --spacing-6: 24px;
    --spacing-10: 40px;

    --breakpoint: 640px;

    --border-radius-sm: 2px;
    --border-radius-md: 4px;
    --border-radius-lg: 6px;

    --transition-color: color 0.2s ease-in;
    --transition-bg-color: background-color 0.2s ease-in;
    --transition-bg-filter: background, filter 0.2s ease-in;
    --transition-box-shadow: box-shadow 0.2s ease-in;
    --transition-color-text-shadow: color, text-shadow 0.2s ease-in;
    --transition-color-border-color-box-shadow: color, border-color,
        box-shadow 0.2s ease-in;
    --transition-stroke: stroke 0.2s ease-in;
    --transition-top: top 0.2s ease-in;
}

/* To avoid flickering when theme changes right after the page has loaded */
.css-transitions-only-after-page-load {
    * {
        transition: none !important;
    }
}

button {
    display: inline-block;
    padding: 0;
    border: none;
    background: transparent;
    border-radius: var(--border-radius-lg);
    border: 1px solid var(--color-black);
    color: var(--color-black);
    border-color: var(--color-black);
    padding: var(--spacing-2);
    margin: 0;
    font-family: "Merriweather", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 16px;
    transition: var(--transition-color-border-color-box-shadow);
    text-decoration: none;

    &:hover {
        cursor: pointer;

        @media screen and (min-width: 640px) {
            text-decoration: none;
            box-shadow: 0px 0px 4px 0px var(--color-accent-2);

            &::after {
                display: none;
            }
        }
    }

    .dark & {
        color: var(--color-white);
        border-color: var(--color-white);

        &:hover {
            @media screen and (min-width: 640px) {
                box-shadow: 0px 0px 4px 0px var(--color-accent-1);
            }
        }
    }
}

.button {
    display: inline-block;
    padding: 0;
    border: none;
    background: transparent;
    border-radius: var(--border-radius-lg);
    border: 1px solid var(--color-black);
    color: var(--color-black);
    border-color: var(--color-black);
    padding: var(--spacing-2);
    margin: 0;
    font-family: "Merriweather", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 16px;
    transition: var(--transition-color-border-color-box-shadow);
    text-decoration: none;

    &:hover {
        cursor: pointer;

        @media screen and (min-width: 640px) {
            text-decoration: none;
            box-shadow: 0px 0px 4px 0px var(--color-accent-2);

            &::after {
                display: none;
            }
        }
    }

    .dark & {
        color: var(--color-white);
        border-color: var(--color-white);

        &:hover {
            @media screen and (min-width: 640px) {
                box-shadow: 0px 0px 4px 0px var(--color-accent-1);
            }
        }
    }
}

p {
    + h2 {
        margin-top: var(--spacing-6);
    }
}
