---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "About me";
---

<BaseLayout pageTitle={pageTitle}>
    <p>
        <em
            >I'm Oliwer, a software engineer with over a decade of professional
            experience based in Poznań, Poland.</em
        >
    </p>
    <p>
        While my main area of expertise is frontend development, my curiosity
        has driven me to learn backend technologies, particularly Elixir.
    </p>
    <p>
        Throughout my career in IT, I've also had the opportunity to take on
        roles such as project lead, consultant, recruiter, accessibility
        auditor, and mentor for younger developers.
    </p>
    <p>
        I've worked with both smaller and larger companies, including Ford,
        HSBC, Colgate-Palmolive, and Unilever.
    </p>
    <p><em>I enjoy well-crafted software, especially creating it.</em></p>
    <p>
        Beyond programming, I have a passion for music, both as a listener and a
        creator, as well as books, running, mountains, and video games.
    </p>
</BaseLayout>
