---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout pageTitle="Oliwer Iwanicki | About" heading="About me">
    <p>
        <em
            >I'm Oliwer, a software engineer with over a decade of professional
            experience based in Poznań, Poland.</em
        >
    </p>
    <p>
        I've been making websites for my hobby projects since my teenage years,
        and I decided to pursue this passion in my professional career.
    </p>
    <p>
        First, I pursued a more academic path and graduated from Adam Mickiewicz
        University in Poznan with a master's degree in computer science. My
        studies and internships gave me a taste of various technical directions,
        including low-level programming in C/C++, game development in
        C#/Unity/XNA, and even Natural Language Processing. After experimenting
        with all of these, I chose to focus on the web platform.
    </p>
    <p>
        My first significant work experience was at Wunderman Thompson
        Technology (formerly Cognifide, now part of VML), where I built web
        applications on top of Adobe Experience Manager for corporate clients
        such as Ford, HSBC, Unilever, and Colgate-Palmolive. During this time, I
        specialized in frontend development, solidifying my foundation in
        JS/CSS/HTML, learning frameworks from AngularJS to React, and focusing
        on web accessibility.
    </p>
    <p>
        Later, I decided to test myself in a startup environment and joined
        Contractbook. This is where I became a more well-rounded developer and
        began working on the backend as well, which led me to learn Elixir.
        Currently, I spend a similar amount of time working on both the frontend
        app, which is built with TypeScript, React, and Redux, and the Elixir
        API. While I certainly consider myself more experienced with the
        frontend, I enjoy honing my server-side skills as well.
    </p>
    <p><em>I enjoy well-crafted software, especially creating it.</em></p>
    <p>
        Beyond programming, I have a passion for music, both as a listener and a
        creator, as well as books, running, mountains, and video games.
    </p>
</BaseLayout>
