---
import BaseLayout from "../layouts/BaseLayout.astro";
import Post from "../components/Post.astro";

const allPosts = await Astro.glob("../pages/posts/*.md");
---

<BaseLayout pageTitle="Oliwer Iwanicki | Blog" heading="Blog">
    <h2>All posts</h2>
    {allPosts.map((post) => <Post post={post} />)}
</BaseLayout>
