---
import BaseLayout from "../layouts/BaseLayout.astro";
import Post from "../components/Post.astro";

const allPosts = await Astro.glob("../pages/posts/*.md");
---

<BaseLayout pageTitle="Oliwer Iwanicki | Home" heading="Hi, I’m Oliwer.">
    <p>
        I'm a software engineer with over a decade of professional experience
        based in Poznań, Poland.
    </p>
    <p>Take a look around my website and blog.</p>
    <h2>Recent posts</h2>
    {allPosts.map((post) => <Post post={post} />)}
    <div class="flex justify-center mt-5">
        <a
            href="/blog"
            class="block h-9 border-2 border-solid border-black dark:border-white px-2 rounded-md font-serif leading-8 no-underline after:!hidden box-shadow"
            >All posts</a
        >
    </div>
</BaseLayout>
