---
import BaseLayout from "../layouts/BaseLayout.astro";
import Post from "../components/Post.astro";

const pageTitle = "Hi, I’m Oliwer.";
const allPosts = await Astro.glob("../pages/posts/*.md");
---

<BaseLayout pageTitle={pageTitle}>
    <p>
        I'm a software engineer with over a decade of professional experience
        based in Poznań, Poland.
    </p>
    <p>Take a look around my website and blog.</p>
    <h2>Recent posts</h2>
    {allPosts.map((post) => <Post post={post} />)}
    <div class="button-wrapper">
        <a href="/blog" class="button">All posts</a>
    </div>
</BaseLayout>

<style>
    .button-wrapper {
        margin-top: var(--spacing-5);
        display: flex;
        justify-content: center;
    }
</style>
