---
import Social from "./Social.astro";
---

<footer>
    <p>© {new Date().getFullYear()} &middot; Oliwer Iwanicki</p>
</footer>

<style>
    footer {
        margin-top: auto;
        display: flex;
        justify-content: flex-end;
        padding: var(--spacing-6) 0;
        width: 100%;
        max-width: var(--breakpoint);
    }

    p {
        font-size: 16px;
        margin: 0;
    }
</style>
