---
import RSSLink from "./RSSLink.astro";
import PlaySnakeButton from "./PlaySnakeButton.astro";
---

<footer
    class="flex items-center justify-between gap-3 w-full max-w-screen-sm mt-auto py-6"
>
    <p class="m-0 text-base">
        © {new Date().getFullYear()} &middot; Oliwer Iwanicki &middot; Built with
        <a href="https://astro.build/" target="_blank">Astro </a>
    </p>

    <div class="flex gap-2">
        <PlaySnakeButton />
        <RSSLink />
    </div>
</footer>
