---

---

<a href="/" class="relative block no-underline hover:after:hidden group">
    <div
        class="relative text-xl font-serif font-bold leading-5 text text-shadow-in-dark-mode"
    >
        Oliwer
    </div>
    <div
        class="absolute bottom-[-7px] w-8 h-8 rounded-full gradient group-hover:brightness-110"
    >
    </div>
    <div
        class="relative text-xl font-serif font-bold leading-5 text-shadow-in-dark-mode"
    >
        Iwanicki
    </div>
</a>
