---

---

<a href="/" class="relative block no-underline hover:after:hidden group">
    <div class="relative text-xl font-serif font-bold leading-5 text">
        Oliwer
    </div>
    <div
        class="absolute w-8 h-8 rounded-full gradient group-hover:brightness-110 circle"
    >
    </div>
    <div class="relative text-xl font-serif font-bold leading-5 text">
        Iwanicki
    </div>
</a>

<style>
    .text {
        text-shadow: 1px 1px 2px transparent;
        transition: var(--transition-color-text-shadow);
    }

    :global(.dark) .text {
        text-shadow: 1px 1px 2px var(--color-black);
    }

    .circle {
        bottom: -7px;
    }
</style>
