---
import Dialog from "./Dialog.astro";
import Navigation from "./Navigation.astro";
import ThemeButton from "./ThemeButton.astro";
---

<Dialog dialogId="mobile-nav-dialog" hideOnDesktop>
    <div class="grow flex flex-col justify-center h-full">
        <Navigation />
    </div>

    <div class="absolute bottom-6 right-6 h-8">
        <ThemeButton />
    </div>
</Dialog>
