---
const navItems = [
    ["/about", "About"],
    ["/blog", "Blog"],
    ["/contact", "Contact"],
];
---

<ul
    class="flex flex-col items-center gap-5 w-full sm:flex-row sm:w-auto"
    data-nav
>
    {
        navItems.map(([url, label]) => (
            <li>
                <a
                    class="text-4xl tracking-wide uppercase no-underline sm:text-base"
                    href={url}
                >
                    {label}
                </a>
            </li>
        ))
    }
</ul>

<script>
    document.querySelectorAll("ul[data-nav] > li > a").forEach((nav) => {
        if (nav.pathname === window.location.pathname) {
            nav.closest("li").classList.add("font-bold");
        } else {
            nav.closest("li").classList.remove("font-bold");
        }
    });
</script>
