---
const { post } = Astro.props;
const {
    url,
    frontmatter: { title, pubDate, description },
} = post;
---

<article class="gradient">
    <header>
        <h3><a href={url}>{title}</a></h3>
        <span>{pubDate.toString().slice(0, 10)}</span>
    </header>
    <main><p>{description}</p></main>
    <footer><a href={url}>Read more</a></footer>
</article>

<style>
    article {
        position: relative;
        border-radius: 6px;
        padding: var(--spacing-5);
    }

    :global(.dark) article {
        text-shadow: 1px 1px 2px var(--color-black);
    }

    header {
        display: flex;
        flex-direction: column-reverse;
        gap: var(--spacing-1_5);

        @media screen and (min-width: 640px) {
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            gap: 0;
            margin-bottom: var(--spacing-2);
        }

        a {
            text-decoration: none;
        }
    }

    h3 {
        margin-bottom: var(--spacing-1_5);

        @media screen and (min-width: 640px) {
            margin-bottom: 0;
        }
    }

    p {
        font-size: 16px;
        margin-bottom: var(--spacing-3);
    }

    footer {
        display: flex;
        justify-content: flex-end;

        a {
            position: relative;
        }
    }
</style>
