---
import Dialog from "./Dialog.astro";
import SnakeGame from "./SnakeGame/SnakeGame";
---

<Dialog dialogId="snake-dialog">
    <h2>Snake</h2>

    <p class="text-base mb-2">
        <i>
            I've always been fond of video games. Here's a&nbsp;small tribute to
            the game many of us enjoyed as kids.
        </i>
    </p>

    <p class="text-base mb-3">
        Maneuver the snake around the screen to consume food, while avoiding
        collisions with the screen edges and the snake's own body.
    </p>

    <p class="text-base mb-6">
        <b>Controls:</b> use ←, ↑, →, ↓ keyboard buttons or swipe gestures to maneuver
        the snake.
    </p>

    <div class="flex justify-center">
        <SnakeGame client:visible />
    </div>
</Dialog>
