---

---

<button class="theme-button" aria-label="Toggle theme" title="Toggle theme"
    ><div class="handle"></div></button
>

<style>
    .theme-button {
        height: 32px;
        width: 16px;
        border: none;
        position: relative;
        background-color: var(--color-black);
        transition: var(--transition-top);
    }

    .handle {
        position: absolute;
        top: 18px;
        left: 3px;
        width: 10px;
        height: 10px;
        border-radius: 4px;
        background-color: var(--color-white);
        transition: top 0.2s ease-in;
    }

    :global(.dark) {
        .theme-button {
            background-color: var(--color-white);
        }

        .handle {
            top: 3px;
            background-color: var(--color-black);
        }
    }
</style>

<script>
    const switchToDark = () => {
        document.documentElement.classList.add("dark");

        document
            .querySelector("meta[name='theme-color']")
            .setAttribute("content", "rgb(57, 62, 70)");

        document
            .querySelector("link[href='/apple-touch-icon.png']")
            .setAttribute("href", "/apple-touch-icon-dark.png");

        document
            .querySelector("link[href='/favicon-32x32.png']")
            .setAttribute("href", "/favicon-32x32-dark.png");

        document
            .querySelector("link[href='/favicon-16x16.png']")
            .setAttribute("href", "/favicon-16x16-dark.png");

        document
            .querySelector("link[href='/site.webmanifest']")
            .setAttribute("href", "/site.webmanifest-dark");
    };

    const switchToLight = () => {
        document.documentElement.classList.remove("dark");

        document
            .querySelector("meta[name='theme-color']")
            .setAttribute("content", "rgb(247, 247, 247)");

        document
            .querySelector("link[href='/apple-touch-icon-dark.png']")
            .setAttribute("href", "/apple-touch-icon.png");

        document
            .querySelector("link[href='/favicon-32x32-dark.png']")
            .setAttribute("href", "/favicon-32x32.png");

        document
            .querySelector("link[href='/favicon-16x16-dark.png']")
            .setAttribute("href", "/favicon-16x16.png");

        document
            .querySelector("link[href='/site.webmanifest-dark']")
            .setAttribute("href", "/site.webmanifest");
    };

    const theme = (() => {
        if (
            typeof localStorage !== "undefined" &&
            localStorage.getItem("theme")
        ) {
            return localStorage.getItem("theme");
        }
        if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
            return "dark";
        }
        return "light";
    })();

    if (
        theme === "light" &&
        document.documentElement.classList.contains("dark")
    ) {
        switchToLight();
    } else if (
        theme === "dark" &&
        !document.documentElement.classList.contains("dark")
    ) {
        switchToDark();
    }

    window.localStorage.setItem("theme", theme);

    const element = document.documentElement;
    const nav = document.querySelector("header nav");

    const handleToggleClick = () => {
        if (
            !event.target.classList.contains("theme-button") &&
            !event.target.classList.contains("handle")
        ) {
            return;
        }

        if (element.classList.contains("dark")) {
            switchToLight();
        } else {
            switchToDark();
        }

        const isDark = element.classList.contains("dark");
        localStorage.setItem("theme", isDark ? "dark" : "light");
    };

    nav.addEventListener("click", handleToggleClick);
</script>
