---

---

<button
    class="relative w-4 h-8 rounded-md bg-black dark:bg-white box-shadow"
    aria-label="Toggle theme"
    title="Toggle theme"
    data-theme-button
    ><div
        class="absolute w-[10px] h-[10px] top-[18px] dark:top-[3px] left-[3px] rounded-full bg-white dark:bg-black transition-all duration-200 ease-in"
    >
    </div></button
>
